.container {
  padding: 0 8px;
  color: #fff;
}

.center {
  text-align: center;
  margin-bottom: 14px;
}

.content p {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.content {
  max-width: 420px;
  background-color: #0f0f0f;
  margin: 24px auto;
  padding: 24px;
  border-radius: 8px;
}

.content p:not(:last-of-type) {
  margin-bottom: 16px;
}
.profit {
  color: #12f98a;
}

.loss {
  color: #f91257;
}

.voltar {
  text-decoration: none;
  margin: 0 auto;
  color: #fff;
  background-color: #30beff;
  padding: 8px 24px;
  border-radius: 8px;
  display: flex;
  max-width: 100px;
  align-items: center;
  justify-content: center;
}
